@inherits AppModalContent


<Row Background="Background.Light" TextColor="TextColor.Dark">
    <Field>
        <FieldLabel>Member</FieldLabel>
        <ADAutoComplete @bind-SelectedResult="@Entry" />
    </Field>
    <Field>
        <FieldLabel>Copy Memberships From</FieldLabel>
        <ADAutoComplete SearchObjectType="ActiveDirectoryObjectType.Group"
                        @bind-SelectedResult=@copyFrom
                        CustomResultsFilter="(result)=>result is IADGroup" />
    </Field>
    @if (CopyFrom != null)
    {
        var existingMembers = Group.UserMembers;
        <Paragraph>Will be assigned...</Paragraph>

        foreach (var member in CopyFrom.UserMembers)
        {
            <Card>
                <CardHeader>

                    @if (existingMembers.Contains(member))
                    {
                        <Icon Name=@("fa-check") />
                    }
                    else
                    {
                        <Icon Name=@("fa-plus") />
                    }
                    @member.CanonicalName

                </CardHeader>
            </Card>
        }
    }
</Row>
<Row>
    <Button Color="Color.Primary" Clicked="AssignToGroup">Add</Button>

</Row>


@code {

    [Parameter]
    public EventCallback<GroupMembershipChange> OnGroupMembershipChange { get; set; }



    IDirectoryModel copyFrom;

    public IADGroup CopyFrom { get => (IADGroup)copyFrom; set => copyFrom = value; }

    IDirectoryModel Entry { get; set; }

    async Task AssignToGroup()
    {
        if (Entry is IGroupableDirectoryModel groupableEntry)
        {
            Group.AssignMember(groupableEntry);
            NotificationService.Warning(groupableEntry.CanonicalName + " has been assigned to " + Group.GroupName + " but changes must be saved.", "Assignment Pending");
            ModelChanged.InvokeAsync();

            Close();
        }
        if (CopyFrom != null)
        {
            foreach (var member in CopyFrom.UserMembers)
            {
                Group.AssignMember(member);
               
            }
            NotificationService.Warning("The selected members have been assigned to " + Group.GroupName + " but changes must be saved.", "Assignment Pending");
            ModelChanged.InvokeAsync();

            Close();
        }
    }
}
