@inherits AppModalContent


<Row Background="Background.Light" TextColor="TextColor.Dark">
    <Field>
        <FieldLabel>Group Name</FieldLabel>
        <ADAutoComplete SearchObjectType="ActiveDirectoryObjectType.Group"
            @bind-SelectedResult=@Group/>
    </Field>
    <Field>
        <FieldLabel>Copy Memberships From</FieldLabel>
        <ADAutoComplete SearchObjectType="ActiveDirectoryObjectType.All"
                        @bind-SelectedResult=@copyFrom
                        CustomResultsFilter="(result)=>result is IGroupableDirectoryAdapter" />

    </Field>
    @if (CopyFrom != null)
    {
        var existingGroups = DirectoryModel.MemberOf;
        <Paragraph>Will be added to...</Paragraph>

        foreach (var group in CopyFrom.MemberOf)
        {
            <Card>
                <CardHeader>

                    @if (existingGroups.Contains(group))
                    {
                        <Icon Name=@("fa-check") />
                    }
                    else
                    {
                        <Icon Name=@("fa-plus") />
                    }
                    @group.GroupName

                </CardHeader>
            </Card>
        }
    }
</Row>
<Row>
    <Button Color="Color.Primary" Clicked="AssignToGroup">Add</Button>

</Row>


@code {

    [Parameter]
    public EventCallback<GroupMembershipChange> OnGroupMembershipChange { get; set; }

    /// <summary>
    /// The directry entry that we are assigning
    /// </summary>
    [Parameter]
    public IGroupableDirectoryAdapter DirectoryModel { get; set; }

    IDirectoryEntryAdapter copyFrom;
    public IGroupableDirectoryAdapter CopyFrom { get => (IGroupableDirectoryAdapter)copyFrom; set => copyFrom = value; }

    IDirectoryEntryAdapter Group { get; set; }

    async Task AssignToGroup()
    {
        if (Group is IADGroup group)
        {
            DirectoryModel.AssignTo(group);
            await NotificationService.Warning(DirectoryModel.CanonicalName + " has been assigned to " + group.GroupName + " but changes must be saved.", "Assignment Pending");
            await ModelChanged.InvokeAsync();

            Close();

        }
        if (CopyFrom != null)
        {
            foreach (var g in CopyFrom.MemberOf)
            {
                DirectoryModel.AssignTo(g);

            }
            await NotificationService.Warning(DirectoryModel.CanonicalName + " has been assigned to the selected groups but changes must be saved.", "Assignment Pending");
            await ModelChanged.InvokeAsync();

            Close();
        }
    }
}
