@inherits AppComponentBase

<MudText Typo ="Typo.h6" Size="HeadingSize.Is3">
    @SettingsLocalization["Access Levels"]
</MudText>
<p> Access levels are a template of permissions that can be applied to specific OU's for specific delegates.</p>

    @if (CurrentAccessLevels != null)
    {
        @foreach (AccessLevel ap in CurrentAccessLevels)
        {

            <ShowAccessLevel Model="ap" />
        }
    }

        <MudExpansionPanel Text="@SettingsLocalization["Add New Access Level"]">

                <EditAccessLevel LevelsChanged="Update" />


        </MudExpansionPanel>

@code {
    bool addCollapseVisible;
    List<AccessLevel> CurrentAccessLevels=new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Update();

    }
    async void Update()
    {
        LoadingData = true;
        await InvokeAsync(StateHasChanged);

        CurrentAccessLevels = await Context.AccessLevels.Where(al => al.DeletedAt == null).ToListAsync();
        LoadingData = false;

        await InvokeAsync(StateHasChanged);
    }
}