@inherits AppModal
<Modal @ref="Modal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add User Group</ModalTitle>
            <AppCloseButton />
        </ModalHeader>
        <ModalBody>
            <Row>
                <Field>
                    <FieldLabel>Group Name</FieldLabel>
                    <ADAutoComplete SearchObjectType="ActiveDirectoryObjectType.All"
                                    @bind-SelectedResult=@selectedGroup
                                    CustomResultsFilter="(result)=>result.ObjectType==ActiveDirectoryObjectType.User|| result.ObjectType==ActiveDirectoryObjectType.Group" />
                
                </Field>
                <Field>
                    <FieldLabel>Super User</FieldLabel>
                    <Switch TValue="bool" @bind-Checked="@NewPrivilegeLevel.IsSuperAdmin" Disabled=Program.InDemoMode/>
                </Field>
            </Row>
            <Row>
                <Button Color="Color.Primary" Clicked="AddGroup">Add</Button>

            </Row>


        </ModalBody>
    </ModalContent>
</Modal>
@code {
    IDirectoryModel selectedGroup;
    [Parameter]
    public EventCallback GroupAdded { get; set; }

    PrivilegeLevel NewPrivilegeLevel = new PrivilegeLevel();
    private async void AddGroup()
    {
        NewPrivilegeLevel.GroupSID = selectedGroup.SID;
        Context.PrivilegeLevel.Add(NewPrivilegeLevel);
        await Context.SaveChangesAsync();
        NewPrivilegeLevel = new PrivilegeLevel();
        await Modal?.Hide();
        await GroupAdded.InvokeAsync();
    }
}