@inherits AppModal
<Modal @ref="Modal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add User Group</ModalTitle>
            <AppCloseButton />
        </ModalHeader>
        <ModalBody>
            <Row>
                <Field>
                    <FieldLabel>Group Name</FieldLabel>
                    <ADGroupAutoComplete SelectedGroup="selectedGroup" />
                </Field>
                <Field>
                    <FieldLabel>Super User</FieldLabel>
                    <Switch TValue="bool" @bind-Checked="@NewPermissionDelegate.IsSuperAdmin" Disabled=Program.InDemoMode/>
                </Field>
            </Row>
            <Row>
                <Button Color="Color.Primary" Clicked="AddGroup">Add</Button>

            </Row>


        </ModalBody>
    </ModalContent>
</Modal>
@code {
    IADGroup selectedGroup;
    [Parameter]
    public EventCallback GroupAdded { get; set; }
    
    PermissionDelegate NewPermissionDelegate = new PermissionDelegate();
    private async void AddGroup()
    {
        NewPermissionDelegate.DelegateSid = selectedGroup.SID;
        Context.PermissionDelegate.Add(NewPermissionDelegate);
        await Context.SaveChangesAsync();
        NewPermissionDelegate = new PermissionDelegate();
        await Modal?.Hide();
        GroupAdded.InvokeAsync();
    }
}