@inherits AppComponentBase
@inject AppAuthenticationStateProvider appAuth
<h3>ImpersonateUser</h3>
<ADUserAutoComplete @bind-SelectedUser=User/>
<Form method="post" action="/signin">

    <input type="text" class="d-none" name="Username" value="@User?.SamAccountName" />
    <input type="text" class="d-none" name="Passowrd" value="impersonate" />
    <input type="text" class="d-none" name="Impersonation" value="true"/>
    <Button Type="ButtonType.Submit">Impersonate User</Button>

</Form>
@code {
    public IADUser? User{ get; set; }

   
}
