@inherits ValidatedForm
<ListGroupItem Name="@Group?.CanonicalName">
    <Accordion>
        <Collapse Visible="@collapse1Visible">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)">
                        <Row Width="Width.Is100">
                            <Column ColumnSize="ColumnSize.Is6.OnTablet">
                                @Group?.CanonicalName

                            </Column>
                            <Column ColumnSize="ColumnSize.Is6.OnTablet">
                                <Switch  Checked="Level?.IsSuperAdmin" Disabled>Super User Group</Switch>


                            </Column>
                        </Row>
                            
                    </Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                            
                                <Field>
                                    <FieldLabel>@AppLocalization["Delgate Name"]</FieldLabel>
                                    <FieldBody>
                                        <ADAutoComplete 
                                            SearchObjectType="ActiveDirectoryObjectType.All" 
                                            @bind-SelectedResult=@Group 
                                            CustomResultsFilter="(result)=>result.ObjectType==ActiveDirectoryObjectType.User|| result.ObjectType==ActiveDirectoryObjectType.Group"/>
                                        @*<ADGroupAutoComplete @bind-SelectedGroup="@Group"/>*@
                                    </FieldBody>
                                </Field>

                        </Column>
                        <Column ColumnSize="ColumnSize.Is2.OnDesktop">
                                <Field>
                                    <FieldLabel></FieldLabel>
                                    <FieldBody>
                                <Switch Disabled=@(Program.InDebugMode && UserStateService.CurrentUsername !="admin") @bind-Checked="Level.IsSuperAdmin">Super User Group</Switch>


                                    </FieldBody>
                                </Field>

                        </Column>
                        <Column ColumnSize="ColumnSize.Is4.OnDesktop">
                            <Button VerticalAlignment="VerticalAlignment.Middle" @onclick="Save" Color="Color.Success">Save Changes</Button>
                        </Column>
                    <Column ColumnSize="ColumnSize.Is2.OnDesktop">
                        <AppCloseButton VerticalAlignment="VerticalAlignment.Middle" @onclick="DeletePermissionGroup" Color="Color.Success" />
                    </Column>
                    </Row>

             
            </CollapseBody>
        </Collapse>
    </Accordion>

</ListGroupItem>

@code {
    IDirectoryEntryAdapter Group;
    [Parameter]
    public PermissionDelegate Level { get; set; }
    [Parameter]
    public DatabaseContext Context { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Group = Directory.GetDirectoryModelBySid(Level.DelegateSid);
    }

    bool collapse1Visible = false;

    async Task DeletePermissionGroup()
    {
        Level.DeletedAt = DateTime.UtcNow;
        await Context.SaveChangesAsync();
        await NotificationService.Info("Permission Group removed.");

    }
    private async void Save()
    {
        collapse1Visible = false;
        Level.DelegateSid = Group.SID;
        await Context.SaveChangesAsync();
        await InvokeAsync(StateHasChanged);
    }
}
