
@inherits AppComponentBase
@{
    var render = true;
}
<h3>OU Privilege Mapper</h3>
    <Row>


        <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is4.OnWidescreen">
            <BLAZAM.Server.Shared.UI.OU.OUTreeView @bind-SelectedOU="selectedNode">
            <NodeContent>
                   @context.Name
                        @if (context.DirectPermissionMappings.Count() > 0)
                        {
                            <Badge Pill=true Color="Color.Primary">@context.DirectPermissionMappings.Count</Badge>
                        }
                        @if (context.OffspringPermissionMappings.Count() > 0)
                        {
                            <Badge Pill=true Color="Color.Success">@context.OffspringPermissionMappings.Count()</Badge>

                        }
            </NodeContent>
            </BLAZAM.Server.Shared.UI.OU.OUTreeView>
           
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is8.OnWidescreen">
            <OUPrivilegeEditor OU="selectedNode" />

        </Column>
    </Row>

@code {
    TreeView<IADOrganizationalUnit> OUTree { get; set; }
    IADOrganizationalUnit selectedNode;
    IList<IADOrganizationalUnit> ExpandedNodes = new List<IADOrganizationalUnit>();
    IList<IADOrganizationalUnit> ApplicationBaseOUs = new List<IADOrganizationalUnit>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Task.Run(async () =>
        {

            //ApplicationBaseOUs = Directory.OUs.FindSubOusByDN(null);
            ADOrganizationalUnit TopLevel = new ADOrganizationalUnit();
            await TopLevel.Parse(Directory.GetDirectoryEntry(), Directory);
            _ = TopLevel.Children;
            ApplicationBaseOUs.Insert(0, TopLevel);

            ExpandedNodes.Add(TopLevel);
            selectedNode = TopLevel;
            while (OUTree == null)
                Task.Delay(50).Wait();
            OUTree.Nodes = ApplicationBaseOUs;
            LoadingData = false;
            await InvokeAsync(StateHasChanged);
        });
        InvokeAsync(StateHasChanged);

    }

}
