@inherits AppComponentBase

@if (Model.Id > 0)
{
    <Accordion>

        <Collapse Visible="@collapseVisible">
            <CollapseHeader>
                <Heading Size="HeadingSize.Is5">
                    <Button Clicked="@(()=>collapseVisible = !collapseVisible)">@Model.Name</Button>
                </Heading>
            </CollapseHeader>
            <CollapseBody>

                <EditAccessLevel Model=Model />

            </CollapseBody>
        </Collapse>
    </Accordion>
}else{
    <EditAccessLevel Model=Model />

    }


@code {
#nullable disable warnings
    bool collapseVisible = false;
    [Parameter]
    public AccessLevel Model { get; set; }

  
}