@page "/oops"
@using BLAZAM.Server.Background;
@using BLAZAM.Server.Shared.Layouts;
@using BLAZAM.Server.Shared.ResourceFiles;
@using Microsoft.Extensions.Localization;
@using BLAZAM.Common.Data.ActiveDirectory.Interfaces;
@using BLAZAM.Server.Data.Services.Email;
@layout ErrorLayout
@inject ConnMonitor monitor
@inject IStringLocalizer<AppLocalization> Loc

@if (Program.IsDevelopment)
{
    <DevTools />
}

<h3>@Loc["Oops"]</h3>
<h6>@ErrorMessage</h6>
<p>@Loc["Please report to"] yourself</p>
@code {

    public static string ErrorMessage {get;set;}
    public static string DetailsMessage {get;set;}
    public static string HelpMessage {get;set;}

}
