@page "/recyclebin"
@inherits AppComponentBase
@attribute [Authorize(Roles = UserRoles.SuperAdmin)]


<h3>RecycleBin</h3>
    <DataGrid TItem="IDirectoryEntryAdapter"
          Data="deletedObjects"
          Responsive
     Virtualize>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(IDirectoryEntryAdapter.ObjectType)" Caption="Type"/>
        <DataGridColumn Field="@nameof(IDirectoryEntryAdapter.CanonicalName)" Caption="Canonical Name"/>
        <DataGridColumn Field="@nameof(IDirectoryEntryAdapter.LastChanged)" Caption="Deleted At" />
        <DataGridColumn>
            <DisplayTemplate>
            <Button Color="Color.Primary" Clicked="@(()=>{ Directory.RestoreTombstone(context,context.LastKnownParent); })">Restore</Button>

            </DisplayTemplate>


        </DataGridColumn>

    </DataGrid>
    



@code {
    List<IDirectoryEntryAdapter> deletedObjects = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var search = new ADSearch() { SearchRoot = Directory.GetDeleteObjectsEntry() };
        search.SearchDeleted = true;
        deletedObjects = await search.SearchAsync<DirectoryEntryAdapter, IDirectoryEntryAdapter>();

        await InvokeAsync(StateHasChanged);
    }
}
