@inherits AppComponentBase
<h3>@AppLocalization["Managee Notifications"]</h3>
<MudAutocomplete @bind-Value=_selectedUser
                 MaxItems="50"
                 SearchFunc="SearchUsers"
                 T="AppUser"
                 Label="@AppLocalization["User"]" />
@if (_selectedUser != null)
{
    <MudCard>
        <MudStack Row=true>
            <OUTreeView SelectedEntry=_selectedOU
                        SelectedEntryChanged="ouChanged" />
            <MudContainer>
                @if (_selectedOU != null)
                {
                    <OUNotificationSubscriptions User="@_selectedUser"
                                                 OU=@_selectedOU />


                }
            </MudContainer>
        </MudStack>
    </MudCard>
}
@code {
    IDirectoryEntryAdapter? _selectedOU = null;
    IList<AppUser> Users = new List<AppUser>();
    AppUser? _selectedUser = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Users = await Context.UserSettings.ToListAsync();
    }
    private async Task<IEnumerable<AppUser>> SearchUsers(string value)
    {
        if (value == null) value = String.Empty;
        return Users.Where(x => x.Username.Contains(value));
    }
    private async void ouChanged(IDirectoryEntryAdapter entry)
    {
        var ou = (IADOrganizationalUnit)entry;
        if (ou != null)
        {
            _selectedOU = ou;
            await InvokeAsync(StateHasChanged);
        }
    }



}
