<Div Position="Position.Relative" Style="width:0px;height:0px; margin-top:150px" Margin="Margin.IsAuto.OnX">

    <Div Padding=Padding.Is3.OnX Position=Position.Fixed style="right:20px;margin-right: auto;max-width: 300px;bottom: 15px;margin-left: auto;z-index: 5;" Border=Border.Secondary Background="Background.Light" TextColor="TextColor.Dark">
        <Row Margin=Margin.IsAuto.OnX TextAlignment="TextAlignment.Center">
            Unsaved Changes
        </Row>
        <Row>
            <Button Style="width:max-content" Margin=Margin.IsAuto.OnX Color="Color.Success" Clicked="@(()=>{SaveChanges.InvokeAsync();})">Save Changes</Button>
        </Row>
        <Row>
            <Button Style="width:max-content" Margin=Margin.IsAuto.OnX Color="Color.Warning" Clicked="@(()=>{DiscardChanges.InvokeAsync();})">DiscardChanges</Button>
        </Row>

    </Div>
</Div>

@code {
    [Parameter]
    public EventCallback SaveChanges { get; set; }
    [Parameter]
    public EventCallback DiscardChanges { get; set; }

}
