<div Position="Position.Relative" Style="width:0px;height:65px;" Margin="Margin.IsAuto.OnX">

    <div Padding=Padding.Is3.OnX Position=Position.Fixed style="right:21px;margin-right: auto;max-width: 300px;bottom: 56px;margin-left: auto;z-index: 5;" Border=Border.Secondary Background="Background.Light" Color="Color.Dark">
        <Row Margin=Margin.IsAuto.OnX TextAlignment="TextAlignment.Center">
            Unsaved Changes
        </Row>
        <Row>
            <MudButton Style="width:max-content" Margin=Margin.IsAuto.OnX Color="Color.Success" OnClick="@(()=>{SaveChanges.InvokeAsync();})">Save Changes</MudButton>
        </Row>
        <Row>
            <MudButton Style="width:max-content" Margin=Margin.IsAuto.OnX Color="Color.Warning" OnClick="@(()=>{DiscardChanges.InvokeAsync();})">DiscardChanges</MudButton>
        </Row>

    </div>
</div>

@code {
    [Parameter]
    public EventCallback SaveChanges { get; set; }
    [Parameter]
    public EventCallback DiscardChanges { get; set; }

}
