@inherits AppModalContent
@using Blazorise.Cropper
<Div Background="Background.Light" TextColor="TextColor.Dark">
    @if(newThumbnail!=null)
    {
        <Base64Image Data="newThumbnail" />

    }
    <FieldLabel ColumnSize="ColumnSize.Is2.OnDesktop">
        @SettingsLocalization["Upload Thumbnail Photo"]
    </FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is8">

        <Blazorise.FilePicker Upload="LoadIcon" />

    </FieldBody>
    <Button Color=Color.Primary Clicked="SaveChanges">@UserLocalization["Save Photo"]</Button>
</Div>
@code {
    byte[] newThumbnail;
    [Parameter]
    public IADUser DirectoryModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await InvokeAsync(StateHasChanged);
    }
    private async void LoadIcon(FileUploadEventArgs e)
    {
        //TODO Try and capture the moment the file upload starts
        using (var stream = e.File.OpenReadStream(5000000))
        {
            using (var memoryStream = new MemoryStream())
            {
                await stream.CopyToAsync(memoryStream);
                newThumbnail = memoryStream.ToArray().ReizeRawImage(250);
                //settings.AppIcon = memoryStream.ToArray();
            }
        }

        await InvokeAsync(StateHasChanged);

    }


    async Task SaveChanges()
    {
        //User.CommitChanges();
        try{
            DirectoryModel.ThumbnailPhoto = newThumbnail;

            NotificationService.Warning("Thumbnail changed for " + DirectoryModel.DisplayName + " but changes need to be saved.", "Thumbnail Changed");
        }
        catch
        {
            NotificationService.Error("Unable to set thumbnail for " + DirectoryModel.DisplayName, "Change Failed");

        }
        Close();

    }
    

}
