  <div class="menu" style="text-align:center; color:white;">
                    @if (DatabaseCache.ApplicationSettings != null && DatabaseCache.ApplicationSettings.AppFQDN != null && DatabaseCache.ApplicationSettings.AppFQDN != String.Empty)
                    {
                        var appURL = DatabaseCache.ApplicationSettings.AppFQDN;
                        if (DatabaseCache.ApplicationSettings.ForceHTTPS)
                        {
                            appURL = "https://" + appURL;
                        }
                        else
                        {
                            appURL = "http://" + appURL;
                        }
                        <MudLink Style="color:white;" Color=Color.Surface Href="@appURL">Blazam</MudLink>
                    }
                    else
                    {
                        <MudText>Blazam</MudText>
                    }
                </div>