{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.Hosting.Lifetime": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning"
    }
  },
  "EncryptionKey": "supersecretstring",
  "DebugMode": "false",
  "InstallType": "IIS",
  "ListeningAddress": "*",
  "HTTPPort": "79",
  "HTTPSPort": "442",
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "SQLConnectionString": "Data Source=localhost;Database=BLAZAM;Persist Security Info=True;Integrated Security=False;Connection Timeout=10;TrustServerCertificate=True;"
  }

}
