@inherits LayoutComponentBase
@inject AppDatabaseFactory DbFactory

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <!--[if gte mso 9]>
    <xml>
       <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
       </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <title></title>
    <style type="text/css">
        @@media only screen and (min-width: 820px) {
            .u-row {
                width: 800px !important;
            }

                .u-row .u-col {
                    vertical-align: top;
                }

                .u-row .u-col-33p33 {
                    width: 233.67px !important;
                }

                .u-row .u-col-66p67 {
                    width: 566.33px !important;
                }

                .u-row .u-col-100 {
                    width: 800px !important;
                }
        }

        @@media (max-width: 820px) {
            .u-row-container {
                max-width: 100% !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }

            .u-row .u-col {
                min-width: 320px !important;
                max-width: 100% !important;
                display: block !important;
            }

            .u-row {
                width: 100% !important;
            }

            .u-col {
                width: 100% !important;
            }

                .u-col > div {
                    margin: 0 auto;
                }
        }

        body {
            margin: 0;
            padding: 0;
        }

        table,
        tr,
        td {
            vertical-align: top;
            border-collapse: collapse;
        }

        p {
            margin: 0;
        }

        .ie-container table,
        .mso-container table {
            table-layout: fixed;
        }

        * {
            line-height: inherit;
        }

        a[x-apple-data-detectors='true'] {
            color: inherit !important;
            text-decoration: none !important;
        }

        @@media (max-width: 480px) {
            .hide-mobile {
                max-height: 0px;
                overflow: hidden;
                display: none !important;
            }
        }

        table, td {
            color: #000000;
        }

        #u_body a {
            color: #0000ee;
            text-decoration: underline;
        }

        @@media (max-width: 480px) {
            #u_content_heading_6 .v-container-padding-padding {
                padding: 10px 10px 65px !important;
            }

            #u_content_heading_6 .v-font-size {
                font-size: 23px !important;
            }

            #u_content_heading_5 .v-container-padding-padding {
                padding: 40px 10px 10px !important;
            }

            #u_content_heading_5 .v-font-size {
                font-size: 23px !important;
            }

            #u_content_text_22 .v-container-padding-padding {
                padding: 5px 10px 40px !important;
            }

            #u_column_21 .v-col-background-color {
                background-color: #ffffff !important;
            }

            #u_column_21 .v-col-padding {
                padding: 0px !important;
            }

            #u_column_21 .v-col-border {
                border-top: 0px solid transparent !important;
                border-left: 0px solid transparent !important;
                border-right: 0px solid transparent !important;
                border-bottom: 0px solid transparent !important;
            }

            #u_content_image_9 .v-src-width {
                width: auto !important;
            }

            #u_content_image_9 .v-src-max-width {
                max-width: 65% !important;
            }

            #u_content_text_25 .v-color {
                color: #000000 !important;
            }

            #u_content_text_25 .v-text-align {
                text-align: center !important;
            }

            #u_content_text_26 .v-container-padding-padding {
                padding: 0px 10px 40px !important;
            }

            #u_content_text_26 .v-color {
                color: #7e8c8d !important;
            }

            #u_content_text_26 .v-text-align {
                text-align: center !important;
            }

            #u_column_22 .v-col-background-color {
                background-color: #ecf0f1 !important;
            }

            #u_column_22 .v-col-border {
                border-top: 0px solid transparent !important;
                border-left: 0px solid transparent !important;
                border-right: 0px solid transparent !important;
                border-bottom: 0px solid transparent !important;
            }

            #u_content_image_10 .v-container-padding-padding {
                padding: 40px 0px 0px !important;
            }

            #u_content_image_10 .v-src-width {
                width: auto !important;
            }

            #u_content_image_10 .v-src-max-width {
                max-width: 65% !important;
            }

            #u_content_text_27 .v-color {
                color: #000000 !important;
            }

            #u_content_text_27 .v-text-align {
                text-align: center !important;
            }

            #u_content_text_28 .v-container-padding-padding {
                padding: 0px 10px 40px !important;
            }

            #u_content_text_28 .v-color {
                color: #7e8c8d !important;
            }

            #u_content_text_28 .v-text-align {
                text-align: center !important;
            }

            #u_column_23 .v-col-background-color {
                background-color: #ffffff !important;
            }

            #u_column_23 .v-col-border {
                border-top: 0px solid transparent !important;
                border-left: 0px solid transparent !important;
                border-right: 0px solid transparent !important;
                border-bottom: 0px solid transparent !important;
            }

            #u_content_image_8 .v-container-padding-padding {
                padding: 40px 0px 0px !important;
            }

            #u_content_image_8 .v-src-width {
                width: auto !important;
            }

            #u_content_image_8 .v-src-max-width {
                max-width: 65% !important;
            }

            #u_content_text_23 .v-color {
                color: #000000 !important;
            }

            #u_content_text_23 .v-text-align {
                text-align: center !important;
            }

            #u_content_text_24 .v-color {
                color: #7e8c8d !important;
            }

            #u_content_text_24 .v-text-align {
                text-align: center !important;
            }

            #u_content_text_29 .v-container-padding-padding {
                padding: 0px 10px 10px !important;
            }

            #u_content_button_1 .v-container-padding-padding {
                padding: 10px 10px 40px !important;
            }

            #u_content_button_1 .v-size-width {
                width: 65% !important;
            }

            #u_content_text_deprecated_1 .v-container-padding-padding {
                padding: 40px 10px 10px !important;
            }

            #u_content_menu_1 .v-padding {
                padding: 5px 10px !important;
            }
        }
    </style>
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&amp;display=swap" rel="stylesheet" type="text/css">
    <!--<![endif]-->
</head>
<body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #2d3131;color: #000000">
    <!--[if IE]>
    <div class="ie-container">
       <![endif]-->
    <!--[if mso]>
    <div class="mso-container">
       <![endif]-->
    <table id="u_body" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #2d3131;width:100%" cellpadding="0" cellspacing="0">
        <tbody>
            <tr style="vertical-align: top">
                <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
                   
                    <EmailHeader/>
                    <EmailBody Body="@Body"/>
                   <EmailFooter/>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <!--[if mso]>
    </div>
    <![endif]-->
    <!--[if IE]>
    </div>
    <![endif]-->
</body>
</html>





@code {
   
}