@inherits AppComponentBase
@if (Monitor.DirectoryConnected == ServiceConnectionState.Connecting)
{
    <Div Padding="Padding.Is3.OnX">

        <Row>
            Connecting to Active Directory... Some features are disabled...
            <Progress Animated=true Value="100" />
        </Row>
    </Div>
}

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Monitor.OnDirectoryConnectionChanged += ((state) => InvokeAsync(StateHasChanged));

    }
}