@using BLAZAM.Server.Background;
@using BLAZAM.Server.Data;
@using BLAZAM.Server.Errors.ActiveDirectory;
@using BLAZAM.Server.Errors.Database;
@using Microsoft.Data.SqlClient;
@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase
@inject NavigationManager Nav




<PageTitle>Error</PageTitle>
 <Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <ErrorMenu />

        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutContent>
            <Card Margin="Margin.Is4.OnX.OnDesktop">
                <CardBody>
                    @Body
                    <Link To="/">
                    <Button  Color="Color.Primary">Try Home Page</Button>
                    </Link>
                </CardBody>
            </Card>
        </LayoutContent>
         <LayoutFooter>
            <AppFooter />

        </LayoutFooter>
    </Layout>
</Layout>

@if (_loading)
{
    <PageProgress Visible/> 
}

@code{
    bool _loading;
    
}