<div class="pa-0 ma-0 " @oncontextmenu="ShowContextMenu" @oncontextmenu:preventDefault="true">
    @if (Text != null)
    {
        @Text
    }
    @ChildContent
</div>
<MudMenu Dense=true
         Class="@(IsMenuShown?"absolute":"d-none")"
         @ref=contextMenu>
    @MenuContents
</MudMenu>
@code {
    private MudMenu? contextMenu;
    [Parameter]
    public bool IsMenuShown
    {
        get { return contextMenu?.Open ?? false; }
        set
        {
            if (value)
            {
                if (!IsMenuShown)
                {
                    contextMenu?.OpenMenuAsync(null);
                }
            }
            else
            {
                if (IsMenuShown)
                {
                    contextMenu?.OpenMenuAsync(null);
                }
            }
        }
    }
    [Parameter]
    public EventCallback<bool> IsMenuShownChanged { get => contextMenu.OpenChanged; set => contextMenu.OpenChanged = value; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string? Text { get; set; } = null;
    [Parameter]
    public RenderFragment MenuContents { get; set; }


    private async void ShowContextMenu(MouseEventArgs? args = null)
    {
        // contextMenu?.Activate(activator, args);
        contextMenu?.OpenMenuAsync(args);
        await InvokeAsync(StateHasChanged);
    }
}

