@page "/browse"
@attribute [Authorize]
<h3>Browse</h3>
<ADTreeView @bind-SelectedOU=selectedEntry/>
@if (selectedEntry != null && selectedEntry is not IADOrganizationalUnit)
{
    <ViewDirectoryEntry DirectoryEntry="selectedEntry" />

}
@code {

    IDirectoryEntryAdapter? selectedEntry;
}
