@page "/"
@layout MinLayout

@inject NavigationManager NavManager
@inject AppDatabaseFactory DbFactory
@inject ConnMonitor tester
@inject IStringLocalizer<AppLocalization> Localizer
<h2>
    @Localizer["ApplicationStarting"]

</h2>
<progress />
@{

    Task.Run(async () =>
    {
        while (NavManager.ToBaseRelativePath(NavManager.Uri) == "")
        {
            if (Program.InstallationCompleted)
            {
                if (tester.AppReady == ServiceConnectionState.Up)
                {
                    NavManager.NavigateTo("/home", true);
                }
                else if (tester.AppReady == ServiceConnectionState.Down)
                {
                    NavManager.NavigateTo("/oops", true);

                }
            }
            Task.Delay(1000).Wait();
        }

    });

}
@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        tester.OnAppReadyChanged += AppReady;

    }
    private void AppReady(ServiceConnectionState newStatus)
    {
        if (newStatus == ServiceConnectionState.Up)
            if (NavManager.ToBaseRelativePath(NavManager.Uri) == "")
            {
                NavManager.NavigateTo("/home");

            }
    }
}


