@inherits AppComponentBase

<div Margin="Margin.IsAuto" Width=Width.Is100 Height=Height.Is100 TextAlignment="TextAlignment.Center" Display="Display.Table">
    <div Display="Display.TableCell" VerticalAlignment="VerticalAlignment.Middle">
        <div>
            @*<MudIcon Style="font-size:4em;opacity:20%" Name=Name />*@
            <div Style="width:0px;height:0px;" Position="Position.Relative" Margin="Margin.IsAuto.OnX">
                <MudIcon Style="font-size:12em;opacity:20%;position: absolute;left: -118px;top:-109px;" Name=@("fa-solid fa-handcuffs") />
            </div>

        </div>
        <MudText Typo ="Typo.h1" style="margin-top:85px;" Class="mud-theme-info">Woah there buddy!</MudText>
        <MudText Color="Color.Default">You're not authorized to go here.</MudText>
       
    </div>
</div>
@code {

}
