@page "/oops"

@layout ErrorLayout
@inject IStringLocalizer<AppLocalization> Loc

@if (Program.IsDevelopment)
{
    <DevTools />
}

<h3>@Loc["Oops"]</h3>
<h6>@ErrorMessage</h6>
<p>@Loc["Please report to"] yourself</p>
@code {

    public static string ErrorMessage {get;set;}
    public static string DetailsMessage {get;set;}
    public static string HelpMessage {get;set;}

}
