@inherits ValidatedForm
<Row Padding="Padding.Is1.OnMobile.Is2.OnTablet.Is3.OnDesktop.Is4.OnWidescreen.Is5.OnFullHD">
    <Heading>@SettingsLocalization["System Settings"]</Heading>
    <Form @onsubmit="Save">

        <SettingsField>
            <FieldLabel>@SettingsLocalization["Google Analytics ID"]</FieldLabel>
            <FieldBody>
                <TextEdit @bind-Text="@settings.AnalyticsId" />
            </FieldBody>
        </SettingsField>
        <SettingsField>
            <FieldBody>
                <Button Color="Color.Danger" Clicked=RestartApplication>Restart Web Application</Button>

            </FieldBody>
        </SettingsField>
        <SettingsField>
            <FieldBody>
                <Button Disabled="saveDisabled" Type="ButtonType.Submit" Color="Color.Success">Save Changes</Button>
            </FieldBody>
        </SettingsField>
    </Form>
</Row>
@code {
    AppSettings settings = new AppSettings();

    protected override async Task OnInitializedAsync()
    {
        Task.Run(() =>
        {
            settings = Context.AppSettings.FirstOrDefault();
            LoadingData = false;
            InvokeAsync(StateHasChanged);
        });
    }



    [Inject] ApplicationManager applicationManager { get; set; }

    async Task RestartApplication()
    {
        if (await MessageService.Confirm("Are you sure you want to restart the application? All connected users will be disconnected.", "Restart Application"))
        {
            applicationManager.Restart();
        }
    }



}
