@using System.IO.Compression;
@inherits ValidatedForm
    <Heading>@SettingsLocalization["System Settings"]</Heading>
    <Form @onsubmit="Save">

        <SettingsField>
            <FieldLabel>@SettingsLocalization["Google Analytics ID"]</FieldLabel>
            <FieldBody>
                <TextEdit @bind-Text="@settings.AnalyticsId" />
            </FieldBody>
        </SettingsField>
        <SettingsField>
            <FieldBody>
                <Button Color="Color.Danger" Clicked=RestartApplication>Restart Web Application</Button>

            </FieldBody>
        </SettingsField>
    <SettingsField>
        <FieldBody>
            <Button Color="Color.Primary" Clicked=DownloadLogs>Download Logs</Button>

        </FieldBody>
    </SettingsField>
        <SettingsField>
            <FieldBody>
                <Button Type="ButtonType.Submit" Color="Color.Success">Save Changes</Button>
            </FieldBody>
        </SettingsField>
    </Form>
@code {
    AppSettings settings = new AppSettings();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            settings = Context.AppSettings.FirstOrDefault();
            LoadingData = false;
            InvokeAsync(StateHasChanged);
        });
    }



    [Inject] ApplicationManager applicationManager { get; set; }

    async Task RestartApplication()
    {
        if (await MessageService.Confirm("Are you sure you want to restart the application? All connected users will be disconnected.", "Restart Application"))
        {
            if (Program.InDemoMode && !UserStateService.CurrentUsername.Equals("admin", StringComparison.OrdinalIgnoreCase))
            {
                NotificationService.Warning("Restarting the application is not allowed in the demo");
                return;
            }
            applicationManager.Restart();
        }
    }


    async Task DownloadLogs()
    {
        ZipArchive zip = Loggers.GenerateZip();
    }


}
