@inherits ValidatedForm

<Card>
    <CardHeader>
        @OU?.Name
    </CardHeader>
    <CardBody>
        @if (inheritedMappings.Count > 0)
        {
            <Accordion>
                <Collapse Visible="@collapseVisible">
                    <CollapseHeader>
                        <Heading Size="HeadingSize.Is5">
                            <Button Clicked="@(()=>collapseVisible = !collapseVisible)">@SettingsLocalization["Inherited Permissions"]</Button>
                        </Heading>
                    </CollapseHeader>
                    <CollapseBody>
                        @foreach (var map in inheritedMappings)
                        {
                            <Card>
                                <CardBody>
                                    <PrivilegeMapEditor Map="map" ReadOnly=true />
                                </CardBody>
                            </Card>
                        }
                    </CollapseBody>
            </Collapse>

        </Accordion>
        }
        @foreach (var map in appliedMappings)
        {
            <PrivilegeMapEditor Map="map" />
        }
        @if (NewMapping != null)
        {
            <PrivilegeMapEditor Map="NewMapping" />
        }
    </CardBody>
    <CardFooter>
        <Button Clicked="AddNewMapping" Color="Color.Success">Add new mapping</Button>
    </CardFooter>
</Card>


@code {
    bool collapseVisible = false;

    IADOrganizationalUnit _ou;
    [Parameter]
    public IADOrganizationalUnit OU
    {
        get => _ou; set
        {
            if (_ou == value) return;
            _ou = value;
            OnOUChanged(_ou);

        }
    }

    private PrivilegeMap NewMapping;
    List<PrivilegeMap> appliedMappings { get; set; } = new List<PrivilegeMap>();
    List<PrivilegeMap> inheritedMappings { get; set; } = new List<PrivilegeMap>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await OnOUChanged(OU);
    }

    async Task OnOUChanged(IADOrganizationalUnit? newOU)
    {
        if (Context != null && newOU != null)
        {
            appliedMappings = OU.DirectPermissionMappings;
            inheritedMappings = OU.InheritedPermissionMappings;
            NewMapping = null;
            await InvokeAsync(StateHasChanged);
        }
    }

    void AddNewMapping()
    {
        NewMapping = new() { OU = OU.DN };
    }
}