@inherits AppComponentBase
@if (OU != null)
{
    <Card>
        <CardHeader>
            @OU.ADSPath
        </CardHeader>
        
    </Card>
    <Button Color=Color.Success Clicked="CommitChanges">Create...</Button>
}
@code {


    [Parameter]
    public IFluentColumnWithSize FieldColumnSize { get; set; } = ColumnSize.Is6.OnWidescreen.Is4.OnFullHD;

    [Parameter]
    public EventCallback<IADUser> Confirmed { get; set; }

    [Parameter]
    public IADOrganizationalUnit OU { get; set; }

    async Task CommitChanges()
    {
        if (await MessageService.Confirm("Are you sure you want to create this OU?", "Create OU"))
        {
            OU.CommitChanges();
            NotificationService.Success("OU created");

            Nav.NavigateTo("/ou/create",true);
        }
    }
}