@inherits AppModalContent
<div Background="Background.Light" TextColor="Color.Dark">
<Row>
    <MudField>
            <MudText>Choose OU</MudText>
        
            <OUTreeView @bind-StartingSelectedOU=@StartingOU @bind-SelectedOU=@SelectedOU>
                <NodeContent>
                    @context.Name
                </NodeContent>
            </OUTreeView>
        
    </MudField>
</Row>
<Row>
    <MudButton Color="Color.Primary" Clicked="MoveTo">Move</MudButton>

</Row>
</div>

@code {


#nullable disable warnings

    [Parameter]
    public IDirectoryEntryAdapter DirectoryModel { get; set; }

    IADOrganizationalUnit SelectedOU { get; set; }
    IADOrganizationalUnit StartingOU { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        StartingOU = await DirectoryModel.GetParent();


    }

    async Task MoveTo()
    {
        if (await MessageService.Confirm("Are you sure you want to move this " + DirectoryModel.ObjectType.ToString().ToLower() + " to " + SelectedOU.CanonicalName + ". All other unsaved changes will be discarded.", "Confirm move"))
        {


            if (DirectoryModel.MoveTo(SelectedOU))
            {
                await NotificationService.Success(DirectoryModel.CanonicalName + " has been moved to " + SelectedOU.CanonicalName, "Moved");
                await ModelChanged.InvokeAsync();
                Close();
            }
            await NotificationService.Error(DirectoryModel.CanonicalName + " was not able to be moved to " + SelectedOU.CanonicalName, "Move failed");

        }

    }
}
