@inherits AppModalContent
<Div Background="Background.Light" TextColor="TextColor.Dark">
<Section Title=@UserLocalization["OU"]>


    @if (OU.CanReadField(ActiveDirectoryFields.CanonicalName))
    {
        <Field Horizontal ColumnSize="ColumnSize.Is6.OnWidescreen.Is4.OnFullHD">
            <FieldLabel>
                @UserLocalization["Name"]
            </FieldLabel>
            <FieldBody>
                <TextEdit @bind-Text="@OU.CanonicalName" />

            </FieldBody>
        </Field>
    }
    
    
</Section>


    <Button Color=Color.Primary Clicked="SaveChanges">@UserLocalization["Save Changes"]</Button>
</Div>
@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await InvokeAsync(StateHasChanged);
    }

    
        async Task SaveChanges()
    {
        await NotificationService.Warning("The ou has been renamed but changes must be saved.", "OU renamed");
        Close();

    }

}
