@page "/install/directory"
@layout InstallLayout
@inherits AppComponentBase
@{
}
    <div>
    <DirectorySettings SettingsSaved="@(()=>{directoryStatusPanel.ResetStatus();})" />

        <ActiveDirectoryStatusPanel @ref=directoryStatusPanel DirectoryConnected="@(()=>{disableNext=false;})"/>
        <br/>
        <br/>
        <MudButton Color="Color.Success" @onclick="ShowNext" Disabled="@disableNext">Proceed</MudButton>
    </div>

@code {
    #nullable disable warnings
    [Parameter]
    public EventCallback StepCompleted { get; set; }

    ActiveDirectoryStatusPanel directoryStatusPanel;
    ADSettings currentSettings;



    bool disableNext = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var status = Directory.Status;
        Monitor.OnDirectoryConnectionChanged += ((state) => { InvokeAsync(StateHasChanged); });
        try
        {
            currentSettings = Context.ActiveDirectorySettings.FirstOrDefault();
        }
        catch (InvalidOperationException)
        {
            Nav.NavigateTo("/oops");
        }
        catch (Exception)
        {
            //Ignoor oother exceptions
        }
       
    }

 
   
   
    private void ShowNext()
    {
        disableNext = false;
        StepCompleted.InvokeAsync();
        InvokeAsync(StateHasChanged);
    }

}
