@page "/install/directory"
@layout InstallLayout
@inherits AppComponentBase
@inject NavigationManager Nav;
@{
}
    <div>
    <BLAZAM.Server.Shared.UI.Settings.DirectorySettings />

        <BLAZAM.Server.Shared.UI.Settings.ActiveDirectoryStatusPanel DirectoryConnected="ShowNext"/>
        <br/>
        <br/>
        <MudButton Color="Color.Success" @onclick="Refresh" Disabled="@disableNext">Proceed</MudButton>
    </div>

@code {
#nullable disable warnings
    [Parameter]
    public EventCallback StepCompleted { get; set; }

    ADSettings currentSettings;

    bool disableNext = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var status = Directory.Status;
        Monitor.OnDirectoryConnectionChanged += ((state) => { InvokeAsync(StateHasChanged); });
        try
        {
            currentSettings = Context.ActiveDirectorySettings.FirstOrDefault();
        }
        catch (InvalidOperationException)
        {
            Nav.NavigateTo("/oops");
        }
        catch (Exception)
        {
            //Ignoor oother exceptions
        }
       
    }

 
   
   
    private void ShowNext()
    {
        disableNext = false;
        InvokeAsync(StateHasChanged);
    }

}
