
@using Microsoft.EntityFrameworkCore
@layout InstallLayout
@inject NavigationManager NavManager
@inject IDbContextFactory<DatabaseContext> DbFactory
@{
 
}
<h3>Application</h3>


    <h5>Please configure the required application settings</h5>
    <label>Application Name</label><br />
<input type="text" @bind="appName" />
<br />

  <button @onclick="Submit" type="button" class="btn btn-primary">Save</button>


@code {
    [Parameter]
    public EventCallback StepCompleted { get; set; }

    string appName;
    string appFQDN;
    DatabaseContext context;
    private async void Submit()
    {
        context = DbFactory.CreateDbContext();
        context.AppSettings.Add(new AppSettings
            {
                AppFQDN = appFQDN,
                AppName = appName,
    });
        await context.SaveChangesAsync();
        StepCompleted.InvokeAsync();

    }
}
