@inherits Widget
@attribute [Authorize]

    <h3>Users created in the last 90 days</h3>
    <MudDataGrid Items="@NewUsers"
                 T="IADUser"
                      Virtualize
                      RowClass="cursor-pointer"
                 RowClick=@GoToUser
                 SortMode="SortMode.Single">
        <Columns>
            <PropertyColumn Property="x => x.SamAccountName" Title="Username" />
            <PropertyColumn Property="x => x.DisplayName" Title="Display Name" />
            <PropertyColumn Property="x => x.OU.ToPrettyOu()" Title="OU" />
            <PropertyColumn Property="x => x.Created" Title="Creation Date" />

        </Columns>
        <PagerContent>
            <MudDataGridPager T="IADUser" />
        </PagerContent>
    </MudDataGrid>
 
@code {
    List<IADUser> NewUsers = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Name = "New Users";
        NewUsers = (await Directory.Users.FindNewUsersAsync(false)).Where(u => u.CanRead).ToList();
        LoadingData = false;
        InvokeAsync(StateHasChanged);
    }
    void GoToUser(DataGridRowClickEventArgs<IADUser> args)
    {
        Nav.NavigateTo(args.Item.SearchUri);
    }
}
