@inherits Widget
@attribute [Authorize]
<Div Background="Background.Secondary" TextColor="TextColor.Light">

    <h3>Users created in the last 90 days</h3>

    <Div Overflow="Overflow.Auto" Style="max-height:350px;">
        @foreach (var user in NewUsers)
        {

            <Div Background="Background.Secondary" TextColor="TextColor.Light" Style="cursor:pointer" @onclick="@(()=>{Nav.NavigateTo(user.SearchUri);})">


               <UserListItem User="user"/>
            </Div>

        }
    </Div>
</Div>
@code {
    List<IADUser> NewUsers = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Name = "New Users";
        NewUsers = (await Directory.Users.FindNewUsersAsync(false)).Where(u => u.CanRead).ToList();
        LoadingData = false;
        InvokeAsync(StateHasChanged);
    }
}
