@inherits Widget
@attribute [Authorize]
<div Background="Background.Secondary" >

    <h3>Users created in the last 90 days</h3>

    <div Overflow="Overflow.Auto" Style="max-height:350px;">
        @foreach (var user in NewUsers)
        {

            <div Background="Background.Secondary"  Style="cursor:pointer" @onclick="@(()=>{Nav.NavigateTo(user.SearchUri);})">


               <UserListItem User="user"/>
            </div>

        }
    </div>
</div>
@code {
    List<IADUser> NewUsers = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Name = "New Users";
        NewUsers = (await Directory.Users.FindNewUsersAsync(false)).Where(u => u.CanRead).ToList();
        LoadingData = false;
        InvokeAsync(StateHasChanged);
    }
}
