@inherits ValidatedForm

<h3>SystemSettings</h3>
<Row Margin=Margin.Is3>
        <Field Horizontal ColumnSize="ColumnSize.Is6.OnDesktop">
            <FieldLabel ColumnSize="ColumnSize.Is6.OnDesktop">@SettingsLocalization["Google Analytics ID"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is6">
                <TextEdit @bind-Text="@settings.AnalyticsId"/>
            </FieldBody>
        </Field>

</Row>
<Row Margin=Margin.Is3>
    <Button @onclick="Save" Color="Color.Success">Save Changes</Button>
</Row>
<Button Color="Color.Danger" Clicked=RestartApplication>Restart Web Application</Button>
@code {
    AppSettings settings = new AppSettings();

    protected override async Task OnInitializedAsync()
    {
        Task.Run(() =>
        {
            settings = Context.AppSettings.FirstOrDefault();
            LoadingData = false;
            InvokeAsync(StateHasChanged);
        });
    }

    
    
    [Inject] ApplicationManager applicationManager { get; set; }

    async Task RestartApplication()
    {
        if (await MessageService.Confirm("Are you sure you want to restart the application? All connected users will be disconnected.", "Restart Application"))
        {
            applicationManager.Restart();
        }
    }

  
    
}
