
<div 
    >


    <MudIcon  Icon="@Icons.Material.Filled.Close"
          @onclick=@ClickHandler
          style="text-align: center; vertical-align: middle; padding:0.5rem; cursor:pointer; width: 2em; height: 2em;border: 0; border-radius: 0.5rem;" />
</div>
@code {

}
