<div Margin="Margin.IsAuto" Width=Width.Is100 Height=Height.Is100 TextAlignment="TextAlignment.Center" Display="Display.Table">
    <div Display="Display.TableCell" VerticalAlignment="VerticalAlignment.Middle">
        <div>
            <Icon Style="font-size:4em;opacity:20%" Name=Name />
            <div Style="width:0px;height:0px;" Position="Position.Relative" Margin="Margin.IsAuto.OnX">
                <Icon Style="font-size:12em;opacity:20%;position: absolute;left: -78px;top:-109px;" Name=@("fa-solid fa-magnifying-glass") />
            </div>

        </div>
        <MudText Typo ="Typo.h1" style="margin-top:85px;" TextColor="Color.Muted">@Text</MudText>
        <MudText Color="Color.Muted">@Subtext</MudText>

    </div>
</div>

@code{
    [Parameter]
    public string? Name  { get; set; }
    [Parameter]
    public string? Text  { get; set; }
    [Parameter]
    public string? Subtext { get; set; }

    /// <summary>
    /// Displays the specified icon inside a magnifying glass icon
    /// </summary>
}