@using BLAZAM.Common.Exceptions;
@using System.Diagnostics;
@inherits AppComponentBase
@implements IDisposable
@if (sessionsErrorMessage == null)
{
    <MudDataGrid Dense=true
             HorizontalScrollbar=true
             Elevation=0
             FixedHeader=true
             Height="350px"
             Items="services">
        <Columns>
            <TemplateColumn StickyLeft=true
                Title="Name">
                <CellTemplate>
                    <MudBadge Icon="@Icons.Material.Filled.Warning"
                          Color=Color.Warning
                          Visible=@(context.Item.Status!="OK")>
                        @if (context.Item.DisplayName != null)
                        {
                            <MudText>@context.Item.DisplayName</MudText>
                        }
                        else
                        {
                            <MudText>@context.Item.Name</MudText>

                        }
                    </MudBadge>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Description">
                <CellTemplate>

                    <MudText Style="min-width:200px;max-width:400px;overflow-y:scroll;height:24px;">@context.Item.Description</MudText>

                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x=>x.State" />
            <PropertyColumn Property="x=>x.StartName" />
            <PropertyColumn Property="x=>x.PathName" />

        </Columns>
    </MudDataGrid>
}
else
{
    <div>
        @sessionsErrorMessage
    </div>
}

<MudText>Test: </MudText>

@code {



    [Parameter]
    public IADComputer? Computer { get; set; }






    string? sessionsErrorMessage;
    Timer? t;
    List<ComputerService> services = new();



    protected override void OnInitialized()
    {
        base.OnInitialized();
        t = new Timer(RefreshServices, null, 1000, 10000);

        foreach (var currentProcess in Process.GetProcesses())
        {
            if (currentProcess.ProcessName == "chrome")
            {
                var windowCapture = System.Drawing.Graphics.FromHwnd(currentProcess.Handle);
                windowCapture.CopyFromScreen(0, 0, 1024, 1024, new System.Drawing.Size(1024, 1024));
                var capture = new System.Drawing.Bitmap(1024, 1024, windowCapture);

            }
        }

    }


    async void RefreshServices(object? state)
    {
        try
        {
            services = Computer.Services;

            sessionsErrorMessage = null;
        }
        catch (AuthenticationException ex)
        {
            sessionsErrorMessage = ex.Message;
        }

        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        t.Dispose();
    }
}