@inherits LiveChartComponentBase
<h3>LiveProcessorUsage</h3>
<MudChart ChartType="ChartType.Line"
          ChartSeries="@DataSeries"
          XAxisLabels="@Data.DistinctBy(ae=>ae.TimeStamp.ToLocalTime().ToShortTimeString()).Select(ae=>ae.TimeStamp.ToLocalTime().ToShortTimeString()).ToArray()"
          Width="100%"
          Height="350px"></MudChart>

@code {

    [Parameter]
    public IADComputer Computer { get; set; }

    protected override void PollData()
    {
        //Data.Add(DateTime.Now, Computer.Processor);
    }
}
