@inherits AppComponentBase

<Row>
    <Column ColumnSize="ColumnSize.Is4.OnTablet">
        <DropdownList TItem=string
                      TValue="string"
                      @bind-SelectedValue=SelectedCategory
                      TextField="@((item)=>item)"
                      ValueField="@((item)=>item)"
                      Color="Color.Primary"
                      Data="categories">
            @SelectedCategory
        </DropdownList>
        <ListView TItem="DirectoryTemplate"
                  Data="SavedTemplates"
                  TextField="(item)=>item.Name"
                  ValueField="(item)=>item.Name"
                  Mode="ListGroupMode.Selectable"
                  MaxHeight="400px"
                  SelectedItemChanged=@((v)=>{SelectedTemplate=v;})>

            <ItemTemplate>
                <Div>
                    @context.Item.Name
                </Div>
               
            </ItemTemplate>
        </ListView>
        @if (SelectedTemplate != null)
        {
            <Button Clicked=@(()=>{DuplicateTemplate(SelectedTemplate);}) Color="Color.Primary"><Icon Name="@("fa-solid fa-copy")" /></Button>
        }
        <Div>
            <h6>Users granted this template</h6>

        </Div>
    </Column>
    <Column ColumnSize="ColumnSize.Is8.OnTablet">
        @if (SelectedTemplate != null)
        {
            <EditDirectoryTemplate DirectoryTemplate="SelectedTemplate"  />

        }
    </Column>
</Row>
@code {
    string? _selectedCategory;
    string? SelectedCategory
    {
        get => _selectedCategory; set
        {
            _selectedCategory = value;
            UpdateTemplateList();

        }
    }
    List<string?> categories = new() { null };

    IEnumerable<DirectoryTemplate> categorizedTemplates { get; set; } = new List<DirectoryTemplate>();

    DirectoryTemplate _selectedTemplate;
    DirectoryTemplate SelectedTemplate
    {
        get => _selectedTemplate; set
        {
            if (_selectedTemplate == value) return;
            _selectedTemplate = value;
           // if(value!=null){
               // var availableGroups = Context.PrivilegeMap.Where(pm => pm.OU.Contains(value.ParentOU) && pm.AccessLevels.Any(al => al.ActionMap.Any(am => am.ObjectType == ActiveDirectoryObjectType.User && am.ObjectAction.ActionAccessFlagId == ActionAccessFlags.Create.ActionAccessFlagId))).ToList();
          //  }
        }
    }
    IEnumerable<DirectoryTemplate> SavedTemplates { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        categories.AddRange(DbFactory.CreateDbContext().DirectoryTemplates.Where(t => t.Category != null && t.Category != "").Select(t => t.Category).Distinct().ToList());
        UpdateTemplateList();

        await InvokeAsync(StateHasChanged);
    }
    async Task UpdateTemplateList()
    {
        if (SelectedCategory == null)
            SavedTemplates = await Context.DirectoryTemplates.ToListAsync();
        else
            SavedTemplates = await Context.DirectoryTemplates.Where(t => t.Category.Contains(SelectedCategory)).ToListAsync();
        await InvokeAsync(StateHasChanged);
    }
    async Task DuplicateTemplate(DirectoryTemplate template)
    {
        SelectedTemplate = (DirectoryTemplate)template.Clone();
        await InvokeAsync(StateHasChanged);

    }
}
